<%- include('partials/header.ejs'); -%> <h1>HOME</h1> <p><%=fp %></p><hr> <%A.forEach(i=>{%> <h1> <%=i.title %> </h1> <p><%=i.post.substring(0, 100) + ' ...' %><a href="/posts/<%=i.title%>">Read More</a></p><hr> <%});%><%-include('partials/footer.ejs'); -%>